<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product Name</key>
	<string></string>
	<key>Base Price</key>
	<string></string>
	<key>Condition</key>
	<string></string>
	<key>Description</key>
	<string></string>
	<key>Expiration</key>
	<string></string>
</dict>
</plist>
